<ion-view title="Blood Glucose - Graph" id="bgGraph" cache-view="false">
    <ion-content padding="true" class="has-header">
        <div id="itab1" style="display:block; padding:6px;">
            <form id="bloodGlucose-form2" class="list" style="padding:5px; border:1px solid #95989a; border-radius:12px;">
                <div class="row">
                    <div class="col col-100">
                        <h2 style="color:#95989a;">GRAPH <img src="img/PHistory.png" style="width:30px; height:30px; display:inline-block; vertical-align: middle;" /> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100" style="padding-top:10px; overflow: auto;">
                        <div id="Bargraph" style="width: 98%; height: 500px"></div>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>