<ion-view hide-nav-bar="true" cache-view="false">
  <ion-content class="login-page-bg" >
    <div class="login-image-container">
      <img src="img/logo_2.png" class="login-image">
    </div>

    <div class="login-container">
      <div class="list">
        <label class="item item-input login-control" style="background:transparent;">
          <i class="icon ion-ios-email-outline placeholder-icon" style="font-size:30px;color:#FFF;"></i>
          <input type="email" class="loginText" placeholder="Email Id" name="email" required ng-model="changePassword.email">

        </label>
        <label class="item item-input login-control" style="background:transparent;">
          <i class="icon ion-ios-locked-outline placeholder-icon" style="font-size:30px;color:#FFF;"></i>
          <input type="password" class="loginText" placeholder="Password" name="email" required ng-model="changePassword.password">

        </label>


        <input type="button" value="SUBMIT" class="login-button" style="margin-top:50px;" ng-click="changePasswordClick();">





      </div>
    </div>

  </ion-content>
</ion-view>
