<ion-view title="Coach List" id="page10" cache-view="false">
  <ion-content padding="true" class="has-header" ng-init="initFunction();">

    <!--
      <label class="item item-input" id="doctorsList-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Doctor">
      </label>
-->
    <div ng-repeat="item in coachList.coach ">
      <div ng-repeat="(key,val) in item">
        <ion-checkbox ng-model="coachList.isChecked[val.id]" ng-change="coachCheckChange(key,val,coachList.isChecked[val.id]);">{{val.fname+' '+val.lname}}</ion-checkbox>
      </div>

    </div>
    <button id="doctorsList-button60" class="login-button" ng-click="addCoach();">Save</button>
  </ion-content>
</ion-view>
