<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" class="side-menu-bg">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <!--
            <div>
                <img src="img/KavhF1xcSB2RGjIqFJiA_health360.png" style="display: block; width: 150px; height: 150px; margin-left: auto; margin-right: auto;">
            </div>
-->
      <ion-list id="healthCare360X-list1">
        <div class="list">
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item1" ui-sref="healthCare360X.home" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Home
            <i class="icon ion-android-home"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item2" ui-sref="healthCare360X.bloodGlucose" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Blood Glucose
            <i class="icon ion-waterdrop"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item3" ui-sref="healthCare360X.bloodPressure" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Blood Pressure
            <i class="icon ion-heart"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item7" ui-sref="healthCare360X.weight" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Weight
            <i class="icon ion-speedometer"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item8" ui-sref="healthCare360X.fitness" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Fitness
            <i class="icon ion-android-walk"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item16" ui-sref="healthCare360X.nutrition" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Nutrition
            <i class="icon ion-social-apple"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item9" menu-close="" style="background-color:transparent; color:#fff;border:none !important;" ui-sref="healthCare360X.events">Calendar
            <i class="icon ion-android-calendar"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item10" ui-sref="healthCare360X.newEvent" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Community
            <i class="icon ion-android-contacts"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item10" ui-sref="healthCare360X.messages" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Messages
            <i class="icon ion-email"></i>
          </ion-item>
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item11" ui-sref="healthCare360X.devices" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Devices
            <i class="icon ion-android-phone-portrait"></i>
          </ion-item>

          <ion-item class="item-icon-right calm" id="healthCare360X-list-item12" ui-sref="healthCare360X.settings" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Settings
            <i class="icon ion-android-settings"></i>
          </ion-item>

          <ion-item class="item-icon-right calm" id="healthCare360X-list-item12" ui-sref="healthCare360X.sync" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Sync
            <i class="icon ion-android-sync"></i>
          </ion-item>
<!--
          <ion-item class="item-icon-right calm" id="healthCare360X-list-item13" menu-close="" style="background-color:transparent; color:#fff;border:none !important;">Sync
            <i class="icon ion-android-sync"></i>
          </ion-item>
-->

        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
