<ion-view title="BMI" id="page4" cache-view="false">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-log-out" ng-click="logout();"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="ktab1" style="display:block; padding:6px;">
      <form id="bloodGlucose-form2" class="list">
        <div class="row">
          <div style="height:300px;margin:0 auto;position:relative; ">
            <div style="margin-top:50px;">
              <img src="img/BWOutLayer.png" style="width:300px; height:300px; position:absolute; " />
              <div style="position:absolute; z-index:999;top:90px;left:25% ">
                <h2 class="BGV {{BGVColor}}" ng-model="BWobj.BWLevel" style="margin-bottom:0px;font-size: 50px;">{{BWobj.BWLevel}}</h2><span class="BGMetric {{BGVColor}}">Lbs</span>
                <h4 style="color:#95989a; margin-top:1px; font-size: 15px;">{{weightDate}}</h4>
              </div>
              <div style="margin-top:-22%;">
                <img src="img/BGDial.png" style="width: 280px;height: 280px;text-align:center;position: absolute;z-index: 9;margin-top:10px;margin-left:10px;">
                <img src="img/BGArrow.png" style="width: 247px;height: auto;display:inline-block;text-align:center;position:relative;margin: 26px;transition:0.9s;transform: rotate({{angle}}deg);" id="imgBGArrow">
              </div>
            </div>
          </div>
        </div>
        <div class="" style="padding-top:10px;">
          <div class="" style="text-align:center; padding-top: 20px; ">
            <input type="number" class="item-input" ng-model="bW" placeholder="Enter weight in LBS" style="border-bottom: 2px solid #D6D6D6; width: 100%;text-align:center;">
          </div>
          <div class="" style="text-align:center; padding-top: 20px; ">
            <input type="number" class="item-input" ng-model="bH" placeholder="Enter height in Inches" style="border-bottom: 2px solid #D6D6D6; width: 100%;text-align:center;">
          </div>
          <div class="" style="text-align:center; padding-left:5px;">
            <button class="button button-calm button-block" ng-click="calculateBW(bW,bH)" style="border-radius:25px;">SUBMIT</button>
          </div>
        </div>
      </form>

      <div id="events-button-bar9" class="button-bar" style="float:left;display:block;width:100%;clear:left;">
        <div style=" line-height:0px; padding: 6px; border-right:1px solid #d6d6d6; border-bottom-left-radius:25px;  width:48%; display:inline-block; text-align:center;">
          <a ui-sref="healthCare360X.bmiGraph"><img src="img/Graph.png" /></a>
        </div>

        <div style=" color:#d6d6d6; line-height:0px; padding: 6px; width:48%; display:inline-block; text-align:center;">
          <a ui-sref="healthCare360X.bmiHistory"><img src="img/History.png" /></a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
